@tailwind base;
@tailwind components;

.link {
  background: url(../img/SVG/icons/link.svg) center right no-repeat;
  background-size: 18px 18px;
  padding-right: 25px;
}

#aboutsvg * {
  fill-opacity: 0;
  transition: fill-opacity 2500ms;
}

#aboutsvg.finished * {
  fill-opacity: 1;
}

#skillssvg * {
  fill-opacity: 0;
  transition: fill-opacity 2500ms;
  stroke: white;
}

#skillssvg.finished * {
  fill-opacity: 1;
}

#expsvg * {
  fill-opacity: 0;
  transition: fill-opacity 2500ms;
}

#expsvg.finished * {
  fill-opacity: 1;
}

@tailwind utilities;

@media (orientation: landscape) and (max-width: 950px) {
  .paragraphText {
    @apply text-xs px-6 !important;
  }
}
